/* ALL FOOTER CSS */
/* FOOTER GRID */

.footer-grid {
    background-color: #F0EAD6;
    color: #d1a091;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-and-mid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* HOVER RELATED */

.contact-items:hover, more-items:hover {
    text-decoration: underline;
}

/* FOOTER CONTAINER */
/* LEFT FOOTER */
.left-footer{
    padding: 20px 0px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    
}

.footer-logo{
    width:50%p;
    padding-bottom: 10px;
    cursor: pointer;
}

/* Subscribe to newsletter */
.left-msg{
    /*
    background-color: lightblue;
    */
    font-size: 16px;
    padding: 10px 0px;
}

/* email css */
.email-form{
    padding:10px 0px;
    display: flex;
    align-items: center;
}

.email-form input {
    padding: 0.8em;
    border: none;
    background: white;
    color: #d1a091;
    font-size: 16px;
    width: 300px;

}

.email-form button {
    padding: 0.8em;
    background: #d1a091;
    border: none;
    background-color: #d1a091;
    color: white;
    font-size: 16px;
}

/* Social Media icons */
.media-icons-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.media-icons a i {
    color: #d1a091;
    cursor: pointer;
    margin-top: 20px;
    font-size: 25px;
}

/* MIDDLE FOOTER CONTAINER */
.middle-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 40px;
}

/* "Contact" column and "More" column CSS */
.contact-column{
    margin-right: 60px;
}

.contact-title, .more-title {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 0.5em 0.7em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 14px;
}

.contact-list, .more-list {
    list-style-type: none;
    padding-left: 0px;
}

.contact-items, .more-items {
    color: rgb(230, 230, 230);
    color: #d1a091;
    padding: 0.4em;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}

/*RIGHT FOOTER CONTAINER */
.right-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
}

/*About us*/
.footer-about{
    font-size: 13px;
    padding: 10px;
    padding-bottom: 3em;
    line-height: 1.5em;
}

/* Rights reserved */
.rights-reserved{
    padding: 1em 1.5em;
    padding-bottom: 2em;
    font-size: 12px;
    border-top: 2px solid rgb(200, 200, 200);
    color: rgb(200, 200, 200);
}


/* MEDIA QUERIES */

@media (max-width: 1023px){
    .footer-grid{
        grid-template-columns: 1fr;
    }
    .footer-about, .rights-reserved{
        text-align: center;
    }
}

@media (max-width: 767px){
    .left-and-mid{
        grid-template-columns: 1fr;
    }
}